# ===============================
# General
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# Environment variables
# ===============================
.env
.env.local
.env.development
.env.production

# ===============================
# Build outputs
# ===============================
dist/
build/
.vite/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Testing
# ===============================
coverage/

# ===============================
# MongoDB
# ===============================
data/
dump/

# ===============================
# Misc
# ===============================
*.pem
*.key